## Toronto Neighborhoods, Postal Codes, and Coordinates

In [2]:
import pandas as pd

**Importing the Toronto Postal Code Dataset**

In [3]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header=0, keep_default_na=False)
pct = df[0]
pct.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

**Renamed the columns as displayed in the assignment**

In [4]:
pct.columns = ['PostalCode','Borough', 'Neighborhood']
pct.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

**Ignored cells with bourough not assigned**

In [13]:
pct1 = pct.query('Borough ! = "Not assigned"').reset_index(drop=True)
pct1.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

**Combined neighborhoods with the same postal code**

In [14]:
pct2=pct1.groupby('PostalCode', as_index=False).agg(lambda x: ', '.join(set(x.dropna())))
pct2.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
2        M1E  Scarborough       Guildwood, West Hill, Morningside
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

**Sharing the name of the neighborhood where a bourough is not assigned**

In [15]:
pct2.loc[pct2['Neighborhood'] == 'Not assigned', 'Neighborhood' ] = pct2['Borough']
pct2.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
2        M1E  Scarborough       Guildwood, West Hill, Morningside
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

**Importing the Toronto postal codes and coordinates**

In [16]:
df1 = pd.read_csv("https://cocl.us/Geospatial_data", header=0)
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

**Cleaning up the columns**

In [17]:
df1.columns = ['PostalCode','Latitude', 'Longitude']
df1.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

**Merging the tables to get the final result**

In [24]:
df2 = pd.merge(df1, pct2, on='PostalCode')
df2.head(12)

,PostalCode,Latitude,Longitude,Borough,Neighborhood
0,M1B,43.806686,-79.194353,Scarborough,"Rouge, Malvern"
1,M1C,43.784535,-79.160497,Scarborough,"Highland Creek, Port Union, Rouge Hill"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood, West Hill, Morningside"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae
5,M1J,43.744734,-79.239476,Scarborough,Scarborough Village
6,M1K,43.727929,-79.262029,Scarborough,"Ionview, East Birchmount Park, Kennedy Park"
7,M1L,43.711112,-79.284577,Scarborough,"Clairlea, Golden Mile, Oakridge"
8,M1M,43.716316,-79.239476,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West"
9,M1N,43.692657,-79.264848,Scarborough,"Cliffside West, Birch Cliff"
10,M1P,43.757410,-79.273304,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town..."
11,M1R,43.750072,-79.295849,Scarborough,"Wexford, Maryvale"

**Sorting the columns in the same order as the assignment example**

In [45]:
df3 = df2[['PostalCode', 'Borough', 'Neighborhood', 'Latitude', 'Longitude']]

In [46]:
df3.head(12)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Port Union, Rouge Hill",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, West Hill, Morningside",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Ionview, East Birchmount Park, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Cliffside West, Birch Cliff",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.757410,-79.273304
11,M1R,Scarborough,"Wexford, Maryvale",43.750072,-79.295849